@charset "UTF-8";

:root {
    --cor0: #00401C;
    --cor1: #00CC58;
    --cor2: #008037;
    --cor3: #008C3D;
    --cor4: #00662C;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: ;
    --fonte-android: ;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor2);
    font-family: var(--font-padrao);
}

a.externo::after {
    content: '\1f517';
}

header {
    background-image: url(../image/menu_logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--cor4);
    min-height: 320px;
    width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.legenda {
    margin-top: 200px;
    background-color: rgba(128, 128, 128, 0.877);
    border-radius: 30px;
    text-align: center;
    width: auto;
}

.legenda h1 {
    font-weight: normal;
    color: white;
    font-family: var(--font-destaque);
    font-size: 2.2em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

.legenda p {
    color: white;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    padding-right: 10px;
    padding-left: 10px;
    max-width: 450px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.315);
}

nav {
    background-color: var(--cor4);
    width: auto;
    padding: 10px;
    text-align: center;
}

nav>a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.45s;
}

nav>a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}


main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.438);
    border-radius: 0px 0px 10px 10px;

}

main h1 {
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
    font-family: var(--fonte-android);

}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 8px;
}

main p {
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 10px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside h2 {
    background-color: var(--cor1);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside>ul {
    list-style-type: '\2611\00A0';
    list-style-position: inside;
    columns: 2;
}

.mapa{
    background-color: white;
}

div.mapa {
    margin: 0px -20px 30px -20px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

div.mapa > iframe{
margin: 0px 20px 0px 20px;
}

.mapa > p {

}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);

}

/*Pagina de Fotos*/

div#fotos > ul{
    columns: 3;
    list-style-position: inside;
}

div#fotos li {
    padding: 10px;
    list-style: none;
    text-decoration: none;

}